<table class="a">
    {{#each news}}

        <tbody>
        <tr>
            <td><h5>{{this.headline}}</h5></td>
            <td>
                <p>{{this.content}}</p>
            </td>
            <td>
                <p>{{this.date}}</p>
            </td>
            <td>
                <button class="button1" id="{{_id}}" onclick="slet('{{this._id}}')"> Slet</button>
            </td>
            <td>
                <button class="button2" id="{{_id}}" onclick="edit('{{this._id}}')"> Edit</button>
            </td>
            <td>
                <button class="fb-share-button" id="{{_id}}"
                        data-href="https://www.facebook.com/Test12345-293450494906833/" data-layout="button_count"
                        data-size="small"><a target="test"
                                             href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2FTest12345-293450494906833%2F&amp;src=sdkpreparse"
                                             class="fb-xfbml-parse-ignore">Del</a></button>

            </td>
        </tr>

        </tbody>

    {{/each}}
</table>
