<html>
<head>
    <title>Admin Login</title>
    <script src="handlebars-v4.0.12.js"></script>

    <script src="mainPage.js" ></script>
    <script src="memberCalender.js" defer></script>


    <script async defer crossorigin="anonymous"
            src="https://connect.facebook.net/da_DK/sdk.js#xfbml=1&version=v3.2"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/handlebarsjs/4.0.5/handlebars.min.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src='fullcalendar.js'></script>

</head>
<body>

<div id="fb-root"></div>
<div class="container">
    <div class="container" id="header">
        <div><img id="KarateLogo" class="images" src="Pictures/KarateLogo.jpg"></div>
        <div><h1> Skanderborg Shotokan Karate </h1></div>
        <div> <h3> Karate, et valg for livet... </h3></div>
    </div>

    <div class="container">

        <ul class="nav nav-tabs">

            <li class="active"><a data-toggle="tab" href="#menukalender">Kalender</a></li>
            <li><a data-toggle="tab" href="#menuNyheder">Nyheder</a></li>
            <li><a data-toggle="tab" href="#menuMedlem">Oplysninger</a></li>
            <li><a data-toggle="tab" href="#menuLogin">Login</a></li>

        </ul>

        <div class="tab-content">
            <div id="menuLogin" class="tab-pane fade">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Login</h3>
                        <ol id="log ud"></ol>
                        <a href="/logout">Log ud</a>
                    </div>

                </div>
            </div>
            <div id="menuMedlem" class="tab-pane fade">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Rediger dine oplysninger:</h3>

                        <button class="button3"
                                onclick="toEditMemberM('{{this._id}}', '{{this.name}}', '{{this.age}}','{{this.email}}', '{{this.password}}')">
                            Rediger
                        </button>


                    </div>

                </div>
            </div>

            <div id="menuNyheder" class="tab-pane fade ">
                <div class="row">

                    <div class="col-sm-6">
                        <div class="well">
                            <p id="nyhederBrugerside"></p>

                        </div>
                    </div>

                </div>
            </div>

            <div id="menukalender" class="tab-pane fade in active">
                <div class="row">
                    <div class="col-sm-6">
                        <div id='calendar'></div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>

</body>
</html>
